*{
margin: 0;
padding: 0;
}
body{
font-family: montrserrat;
height: 100vh;
overflow: hidden;
background-color:white;
box-shadow: 5px;
}


a{
    text-decoration: none;
    color:rgb(6, 6, 6) ;
  
}
a:hover{
    text-decoration: none;
    color: blue;
}


